HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!dutch-vocab-frondend/js/main/**/target/
!dutch-vocab-frondend/js/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!dutch-vocab-frondend/js/main/**/build/
!dutch-vocab-frondend/js/test/**/build/

### VS Code ###
.vscode/
/.mvn/
/mvnw
/mvnw.cmd
/.gitattributes
